@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);

.reveal section {
    /*min-height: 600px;*/
}

.reveal section em {
    color: greenyellow;
    font-style: normal;
}

.reveal section strong {
    color: lightskyblue;
    font-weight: normal;
}

.reveal code {
    font-family: Consolas, monospace !important;
}

.reveal pre code {
    max-height: 600px;
    width: 1000px;
    border-radius: 3px;
    font-size: 20px !important;
    line-height: 24px !important;
}

.reveal .custom-title {
    font-family: 'Special Elite', serif !important;
    text-transform: none !important;
    letter-spacing: 0 !important;

    text-shadow: 0 1px 0 #cccccc, 0 1px 0 #c9c9c9, 0 2px 0 #bbbbbb, 0 2px 0 #b9b9b9, 0 3px 0 #aaaaaa, 0 3px 1px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.15);
}

.reveal .custom-text {
    font-family: 'PT Serif', serif !important;
}

/** Other nice colors: **/
/* color: orangered; */
/* color: deeppink; */
/* color: gold; */
